system_config:
  base-build-path: /home/wagi/build
  base-tool-path: /home/wagi/rt/drk
  jobfiles-path: /home/wagi/tmp
  result-path: /home/wagi/tmp/results

kernel_config:
  nobase: ['']
  "": ['config-base']
  sle: ['config-sle']
  slert:
    - config-sle
    - config-base-rt
    - config-rcu
    - rt/config-rt-trace
  rt:
    - config-base-rt
    - config-rcu
    - rt/config-rt-trace
  rtb:
    - config-base-rt
    - config-rcu
    - rt/config-rtb
  up: ['rt/config-up']
  vp: ['rt/config-vp']
  ll: ['rt/config-ll']
  nohz: ['rt/config-nohz']
  none: ['rt/config-none']
  blktests: ['config-blktests']
  nvme: ['config-nvme']

rt_suites:
  - '0_jd-hackbench'
  - '0_jd-compile'
  - '0_jd-stress_ptrace'
  - '0_cyclicdeadline'
  - '0_cyclictest'
  - '0_pi-stress'
  - '0_pmqtest'
  - '0_ptsematest'
  - '0_rt-migrate-test'
  - '0_signaltest'
  - '0_sigwaittest'
  - '0_svsematest'
  - '0_rtla-osnoise'
  - '0_rtla-timelat'

suites:
  - '0_smoke-tests'

machine_config:
  bbb:
    hostname: bbb
    cmdline: "console=ttyO0,115200n8 root=/dev/nfs rw nfsroot=192.168.19.5:/{rootfs},nfsvers=4,tcp ip=dhcp earlyprintk printk.time=y mitigations=off"
    rootfs: bbb
    image: arch/arm/boot/zImage
    target: zImage
    defconfig: omap2plus_defconfig
    config: bbb/config-min
    dtb: arch/arm/boot/dts/ti/omap/am335x-boneblack.dtb
    CROSS_COMPILE: arm-linux-gnu-
    ARCH: arm
    install:
      default: "scp arch/arm/boot/zImage bbb:/tmp ; scp arch/arm/boot/dts/ti/omap/am335x-boneblack.dtb bbb:/tmp"
      lava: "scp arch/arm/boot/zImage root@lava:/srv/www/htdocs/artifacts/bbb/bbb-image{}; scp arch/arm/boot/dts/ti/omap/am335x-boneblack.dtb root@lava:/srv/www/htdocs/artifacts/bbb/"

  c2d:
    hostname: c2d
    cmdline: "console=ttyS0,115200n8 root=/dev/nfs rw nfsroot=192.168.60.5:/srv/nfs/{rootfs},nfsvers=3,tcp ip=dhcp earlyprintk printk.time=y oops=panic panic_on_warn mitigations=off"
    rootfs: c2d
    image: arch/x86_64/boot/bzImage
    target: bzImage
    defconfig: x86_64_defconfig
    config: c2d/config-min
    CC: gcc
    install:
      default: "scp arch/x86_64/boot/bzImage c2d:/tmp"
      lava: "scp arch/x86_64/boot/bzImage root@lava:/srv/www/htdocs/artifacts/c2d/c2d-image{}"

  rpi3-32:
    hostname: rpi3-32
    cmdline: "console=ttyO0,115200n8 root=/dev/nfs rw nfsroot=192.168.19.5:/{rootfs},nfsvers=4,tcp ip=dhcp earlyprintk printk.time=y mitigations=off"
    rootfs: rpi3-32
    image: arch/arm/boot/Image
    target: zImage
    defconfig: bcm2835_defconfig
    config: rpi3-32/config-min
    dtb: arch/arm/boot/dts/bcm2837-rpi-3-b-plus.dtb
    CROSS_COMPILE: arm-linux-gnu-
    ARCH: arm
    install:
      default: "scp arch/arm/boot/zImage rpi3-32:/tmp ; scp arch/arm/boot/dts/bcm2837-rpi-3-b-plus.dtb rpi3-32:/tmp"
      tftp: "scp arch/arm/boot/zImage root@lava:/srv/tftp/rpi3-32-image ; scp arch/arm/boot/dts/bcm2837-rpi-3-b-plus.dtb lava:/srv/tftp"
      lava: "scp arch/arm/boot/zImage root@lava:/srv/www/htdocs/artifacts/rpi3-32/rpi3-32-image{} ; scp arch/arm/boot/dts/bcm2837-rpi-3-b-plus.dtb root@lava:/srv/www/htdocs/artifacts/rpi3-32"

  rpi3-64:
    hostname: rpi3-64
    cmdline: "console=ttyO0,115200n8 root=/dev/nfs rw nfsroot=192.168.19.5:/{rootfs},nfsvers=4,tcp ip=dhcp earlyprintk printk.time=y"
    rootfs: rpi3-64
    image: arch/arm64/boot/Image
    target: Image
    defconfig: defconfig
    config: rpi3-64/config-min
    dtb: arch/arm64/boot/dts/broadcom/bcm2837-rpi-3-b-plus.dtb
    CROSS_COMPILE: aarch64-linux-gnu-
    ARCH: arm64
    install:
      default: "scp arch/arm64/boot/Image rpi3-64:/tmp ; scp arch/arm64/boot/dts/broadcom/bcm2837-rpi-3-b-plus.dtb rpi3-64:/tmp"
      tftp: "scp arch/arm64/boot/Image lava:/srv/tftp/rpi3-64-image ; scp arch/arm64/boot/dts/broadcom/bcm2837-rpi-3-b-plus.dtb lava:/srv/tftp"
      lava: "scp arch/arm64/boot/Image root@lava:/srv/www/htdocs/artifacts/rpi3-64/rpi3-64-image{} ; scp arch/arm64/boot/dts/broadcom/bcm2837-rpi-3-b-plus.dtb root@lava:/srv/www/htdocs/artifacts/rpi3-64"
