{% extends 'job-base.jinja2' %}

{% set job_name = 'ptsematest' %}

{% block tests %}
    definitions:
    - repository: {{ test_definitions_url|default('https://github.com/Linaro/test-definitions.git') }}
      from: git
      branch: {{ test_definitions_branch|default('master') }}
      path: automated/linux/ptsematest/ptsematest.yaml
      name: ptsematest
      parameters:
        DURATION: "{{ ptsematest.duration|default('1m') }}"
        BACKGROUND_CMD: "{{ ptsematest.background_cmd|default('hackbench') }}"
        ARTIFACTORIAL_URL: "{{ artifactorial_url|default('') }}"
        ARTIFACTORIAL_TOKEN: "{{ artifactorial_token|default('') }}"
{% endblock tests -%}
