{% extends 'job-base.jinja2' %}

{% set job_name = 'rtla-timerlat' %}

{% block tests %}
    definitions:
    - repository: {{ test_definitions_url|default('https://github.com/Linaro/test-definitions.git') }}
      from: git
      branch: {{ test_definitions_branch|default('master') }}
      path: automated/linux/rtla/rtla-timerlat.yaml
      name: rtla-timerlat
      parameters:
        DURATION: "{{ rtla_timerlat.duration|default('1m') }}"
        BACKGROUND_CMD: "{{ rtla_timerlat.background_cmd|default('hackbench') }}"
        ARTIFACTORIAL_URL: "{{ artifactorial_url|default('') }}"
        ARTIFACTORIAL_TOKEN: "{{ artifactorial_token|default('') }}"
{% endblock tests -%}
